@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,700|Open+Sans:400italic,300italic);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500;900&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.coding {
  width: 100vw;
  height: 100vh;
}

.coding .cc-title,
.coding .rds-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.coding .cc-title h1,
.coding .rds-title h1 {
  font-size: 3.5rem;
}

.coding .cc-title p,
.coding .rds-title p {
  font-size: 1.5rem;
}

.coding .link-button a {
  display: inline-block;
  border-radius: 3.125rem;
  padding: 6.5px 18.5px;
  text-transform: uppercase;
  transition: 0.2s linear;
  color: #717171;
  border: 2px solid #c2c2c2;
  background: #fff;
  font-weight: 500;
}

.coding .link-button a:hover {
  border: 1px solid #c2c2c2;
  font-weight: bold;
}

.coding .btn-result a {
  border: 2px solid #E59B8E;
  color: #d86f5d;
}

.coding .btn-result a:hover {
  border: 1px solid #E59B8E;
}

.coding .myProjectSwiper {
  width: 100%;
  height: 100%;
}

.coding .myProjectSwiper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.coding .myProjectSwiper .mo-content {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.coding .myProjectSwiper .mo-content .screen-wrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.coding .myProjectSwiper .mo-content .screen-wrapper .res-phone {
  width: 160px;
  height: 320px;
  border-radius: 2rem;
  box-shadow: 9px 2px 10px 0px rgba(0, 0, 0, 0.8);
  outline: 3px ridge #444444;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.coding .myProjectSwiper .mo-content .screen-wrapper .res-phone:hover {
  background-position: 100% 100%;
}

.coding .myProjectSwiper .mo-content .screen-wrapper .spc-phone {
  background: url(/images/mobile_SPC.jpg) no-repeat;
  background-size: cover;
  transition: background-position 3s linear;
}

.coding .myProjectSwiper .mo-content .screen-wrapper .cream-phone {
  display: flex;
  flex-direction: column;
}

.coding .myProjectSwiper .mo-content .screen-wrapper .cream-phone .hd-img img {
  width: 100%;
  height: 100%;
}

.coding .myProjectSwiper .mo-content .screen-wrapper .cream-phone .slide-img {
  width: 100%;
  height: 100%;
  background: url(/images/phone-cream-slide.JPG) no-repeat;
  background-size: cover;
  transition: background-position 2s linear;
}

.coding .myProjectSwiper .mo-content .screen-wrapper .cream-phone .slide-img:hover {
  background-position: 100% 100%;
}

.coding .myProjectSwiper .mo-content .screen-wrapper .no-phone {
  display: none;
}

.coding .myProjectSwiper .preview {
  width: 620px;
  z-index: 1;
  padding-bottom: 20px;
}

.coding .myProjectSwiper .preview .cloneImg_1 {
  background: url(/images/full-screen_SPC.JPG) no-repeat;
  background-size: cover;
  transition: background-position 2s linear;
}

.coding .myProjectSwiper .preview .cloneImg_cream {
  background: url(/images/full-screen_cream.jpg) no-repeat;
  background-size: cover;
  transition: background-position 2s linear;
}

.coding .myProjectSwiper .preview-2 .cloneImg_2 {
  background: url(/images/full-screen_ckdhc.JPG) no-repeat;
  background-size: cover;
  transition: background-position 2s linear;
}

.coding .myProjectSwiper .preview-2 .cloneImg_3 {
  background: url(/images/full-screen_ulsan-fire.JPG) no-repeat;
  background-size: cover;
  transition: background-position 0.8s linear;
}

.coding .myProjectSwiper .preview-2 .cloneImg_4 {
  background: url(/images/full-screen_suseong.JPG) no-repeat;
  background-size: cover;
  transition: background-position 1.5s linear;
}

.coding .myProjectSwiper .cloneImg {
  width: 468px;
  height: 275px;
  border-radius: 1.6rem;
  box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
  filter: grayscale(1) brightness(0.8);
  cursor: pointer;
}

.coding .myProjectSwiper .cloneImg:hover {
  background-position: 100% 100%;
  filter: none;
}

.coding .myProjectSwiper .info {
  min-width: 418px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: rgba(253, 253, 253, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  padding: 10px;
}

.coding .myProjectSwiper .info .feature-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.coding .myProjectSwiper .info .feature-wrapper .feature {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.coding .myProjectSwiper .info .feature-wrapper .feature h3 {
  margin: 5px 0px;
  font-size: 3rem;
  font-weight: 800;
  color: #d86f5d;
  text-shadow: 1px 1px 0 #fff;
  font-style: italic;
  animation: fadeInUp 0.8s ease-out both;
}

.coding .myProjectSwiper .info table {
  height: fit-content;
  font-size: 1.5rem;
  border-radius: 10px;
  overflow: hidden;
  border-collapse: collapse;
  backdrop-filter: blur(5px);
}

.coding .myProjectSwiper .info table th,
.coding .myProjectSwiper .info table td {
  background-color: rgba(245, 240, 230, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.3);
  vertical-align: middle;
}

.coding .myProjectSwiper .info table th {
  font-size: 1.5rem;
  text-align: left;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.coding .myProjectSwiper .info table td {
  padding: 10px 20px 10px 10px;
}

.coding .myProjectSwiper .info table .skills-items {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.coding .myProjectSwiper .info table ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}

.coding .myProjectSwiper .info .link-list {
  display: flex;
  gap: 2px;
  align-items: center;
}

.coding .myProjectSwiper .info .link-list .http-link {
  animation: rubberBand 2s linear infinite;
  display: flex;
  gap: 10px;
  align-items: center;
}

.coding .myProjectSwiper .info .link-list .http-link a {
  width: 40px;
  height: 40px;
  display: block;
}

.coding .myProjectSwiper .info .link-list .http-link a img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.coding .myProjectSwiper .box-content {
  width: 1058px;
  display: flex;
  justify-content: space-between;
}

.coding .myProjectSwiper .box-content .rds-box {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 300px;
  height: 300px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 30px;
  overflow: hidden;
}

.coding .myProjectSwiper .box-content .rds-box .rdsImg {
  width: 100%;
  height: 100%;
}

.coding .myProjectSwiper .box-content .rds-box .rdsImg .de-feature {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  background: rgba(253, 253, 253, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  opacity: 0;
  transform: translateY(-100%);
  visibility: hidden;
  transition: all 0.4s ease;
}

.coding .myProjectSwiper .box-content .rds-box .rdsImg .de-feature h3 {
  font-size: 3rem;
  font-weight: 800;
  color: #d86f5d;
  text-shadow: 1px 1px 0 #fff;
  font-style: italic;
}

.coding .myProjectSwiper .box-content .rds-box .rdsImg:hover .de-feature {
  opacity: 1;
  transform: translateY(0%);
  visibility: visible;
}

.coding .myProjectSwiper .box-content .rds-box .rdsImg-1 {
  background: url(/images/pra_e-class.JPG) no-repeat;
  background-size: cover;
  background-position: 90% 0%;
}

.coding .myProjectSwiper .box-content .rds-box .rdsImg-2 {
  background: url(/images/pra_beauty-store.JPG) no-repeat;
  background-size: cover;
}

.coding .myProjectSwiper .box-content .rds-box .rdsImg-3 {
  background: url(/images/pra_shopping-app.png) no-repeat;
  background-size: cover;
  background-position: 50%;
}

.coding .myProjectSwiper .slide-btn-next,
.coding .myProjectSwiper .slide-btn-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

.coding .myProjectSwiper .slide-btn-next.hover,
.coding .myProjectSwiper .slide-btn-prev.hover {
  transform: scale(1.1);
}

.coding .myProjectSwiper .slide-btn-prev {
  left: 3%;
  border-style: solid;
  border-width: 36px 33px 36px 0;
  border-color: transparent rgba(255, 255, 255, 0.4) transparent transparent;
}

.coding .myProjectSwiper .slide-btn-prev:hover,
.coding .myProjectSwiper .slide-btn-prev.hover {
  border-color: transparent white transparent transparent;
}

.coding .myProjectSwiper .slide-btn-next {
  border-style: solid;
  border-width: 36px 0 36px 33px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.4);
  right: 3%;
}

.coding .myProjectSwiper .slide-btn-next:hover,
.coding .myProjectSwiper .slide-btn-next.hover {
  border-color: transparent transparent transparent white;
}

.coding .myProjectSwiper .swiper-pagination-horizontal {
  background-color: rgba(255, 255, 255, 0.4);
  height: 6px !important;
}

.coding .myProjectSwiper .swiper-pagination-horizontal span {
  background-color: white;
}

.design {
  padding-top: 10px;
}

.design-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
}

.design-content .detail_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.design-content .detail_wrapper .phone_wrapper {
  display: flex;
  gap: 100px;
}

.design-content .detail_wrapper .phone_wrapper .design_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.design-content .detail_wrapper .phone_wrapper .design_box h3 {
  font-weight: 800;
  color: #d86f5d;
  text-shadow: 1px 1px 0 #fff;
  font-style: italic;
  animation: fadeInDown 0.5s ease-out both;
  font-size: 2.5rem;
}

.design-content .detail_wrapper .phone_wrapper .design_box .phone {
  overflow: hidden;
  box-shadow: 9px 2px 10px 0px rgba(0, 0, 0, 0.8);
  outline: 3px ridge #444444;
  width: 160px;
  height: 320px;
  border-radius: 2rem;
  cursor: pointer;
}

.design-content .detail_wrapper .phone_wrapper .design_box .phone:hover {
  background-position: 100% 100%;
}

.design-content .detail_wrapper .phone_wrapper .design_box .detailPage_1 {
  background: url(/images/design/detailPage_1.jpg) no-repeat;
  background-size: cover;
  transition: background-position 3.5s linear;
}

.design-content .detail_wrapper .phone_wrapper .design_box .detailPage_2 {
  background: url(/images/design/detailPage_2.jpg) no-repeat;
  background-size: cover;
  transition: background-position 4s linear;
}

.design-content .detail_wrapper .phone_wrapper .design_box .detailPage_3 {
  background: url(/images/design/detailPage_3.jpg) no-repeat;
  background-size: cover;
  transition: background-position 2s linear;
}

.design-pop-up {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.design-pop-up .img_wrapper {
  overflow-y: scroll;
  width: 400px;
  height: 100vh;
}

.design-pop-up .img_wrapper .detail_img {
  width: 100%;
}

.design-pop-up.show {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.aboutMe {
  width: 100%;
  height: 100%;
  background-color: #a3a744;
}

.aboutMe-content {
  padding-top: 60px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.resume {
  width: 990px;
  display: flex;
  gap: 50px;
}

.resume h2 {
  font-size: 2rem;
  font-weight: bold;
}

.resume h6 {
  font-size: 1.4rem;
  margin-top: 5px;
}

.left-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.left-col img {
  width: 100%;
  max-width: 200px;
  min-width: 180px;
  border-radius: 100%;
}

.left-col button {
  width: 150px;
  padding: 10px 5px;
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 6px rgba(57, 57, 57, 0.344);
  background-color: #d86f5d;
  color: white;
  transition: all 0.4s ease-in-out;
}

.left-col button a {
  font-size: 1.5rem;
  display: block;
  width: 100%;
  height: 100%;
}

.left-col button:hover {
  background-color: white;
  color: rgb(86, 86, 86);
}

.left-col .animate__pulse {
  animation: pulse 1.5s ease infinite;
}

.resume {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.resume .meBox_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  font-size: 1.6rem;
}

.resume .meBox_1 h2 {
  margin-bottom: 15px;
}

.resume .meBox_1 p {
  margin-bottom: 5px;
}

.resume .meBox_1 .profile {
  grid-column: 1/2;
}

.resume .meBox_1 .profile div {
  display: flex;
  flex-direction: column;
}

.resume .meBox_1 .license {
  grid-column: 2/3;
}

.resume .meBox_1 .license p {
  margin-top: 15px;
}

.resume .meBox_1 .personality {
  grid-column: 3/4;
}

.resume .meBox_2 {
  grid-row: 2/3;
  grid-column: 1/4;
  margin-bottom: 10px;
}

.resume .meBox_3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.resume .meBox_3 .experience {
  grid-column: 1/2;
}

.resume .meBox_3 .performance {
  grid-column: 2/4;
}

.resume .meBox_3 .performance h2 {
  margin-bottom: 15px;
}

.resume .meBox_3 .performance ul {
  display: flex;
  gap: 8px;
}

.resume .meBox_3 .performance ul li {
  display: flex;
  gap: 8px;
}

.resume .meBox_3 .performance ul li img {
  width: 50px;
  height: 55px;
  object-fit: contain;
}

.resume .meBox_3 .performance ul .jq img {
  width: 40px;
  height: 50px;
  object-fit: contain;
}

.resume .meBox_2 p,
.resume .meBox_3 p {
  font-size: 1.6rem;
  margin-top: 15px;
}

.go-top {
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  height: 45px;
  width: 45px;
  border: 1px solid rgba(0, 0, 0, 0.107);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 9999;
  right: 50px;
  bottom: -50px;
  cursor: pointer;
  opacity: 0;
}

.go-top img {
  width: 20px;
  filter: invert(1);
}

.go-top.showUp {
  opacity: 1;
  animation: bounceInUp 1s cubic-bezier(0.33, 1, 0.68, 1) 0.8s forwards;
}

@keyframes bounceInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  50% {
    transform: translateY(-110px);
    opacity: 1;
  }

  75% {
    transform: translateY(-95px);
  }

  90% {
    transform: translateY(-103px);
  }

  100% {
    transform: translateY(-100px);
  }
}

.gnb-list:nth-of-type(1) a {
  transition-delay: 0s;
}

.gnb-list:nth-of-type(2) a {
  transition-delay: 0.15s;
}

.gnb-list:nth-of-type(3) a {
  transition-delay: 0.3s;
}

.gnb-list:nth-of-type(4) a {
  transition-delay: 0.45s;
}

.gnb-list:nth-of-type(5) a {
  transition-delay: 0.6s;
}

header {
  position: fixed;
  z-index: 9997;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0 50px;
}

header .header-inner {
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header .header-inner .logo {
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 3px;
  border-bottom: 1px solid #222;
  cursor: pointer;
}

header .header-inner .hamburger {
  width: 34px;
  cursor: pointer;
  display: block;
}

header .header-inner .hamburger span {
  display: block;
  height: 1px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 8px;
}

.overlay-navigation {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.2);
  display: none;
  opacity: 0;
}

.overlay-navigation.show {
  display: block;
  opacity: 1;
}

.navigation,
.navigation ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navigation ul {
  display: flex;
}

.navigation ul .gnb-list {
  flex-basis: 20%;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.3s ease;
  color: #fff;
  position: relative;
}

.navigation ul .gnb-list a {
  text-transform: uppercase;
  font-family: "Work sans", sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
  text-decoration: none;
  text-align: center;
  font-size: 1.4rem;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -10%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.navigation ul .gnb-list a.on {
  opacity: 1;
}

.navigation ul .gnb-list.active {
  opacity: 1;
  transform: translateX(0);
}

.navigation ul .gnb-list:before {
  content: "";
  width: 70px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 46.5%;
  left: 0;
  z-index: 100;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.3s linear;
}

.navigation ul .gnb-list:after {
  content: attr(data-content);
  text-transform: none;
  font-family: "Open sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 49%;
  z-index: 100;
  opacity: 0;
  transition: all 0.3s linear;
  display: block;
}

.navigation ul .gnb-list:hover:before {
  transform: translateX(0);
  opacity: 1;
}

.navigation ul .gnb-list:hover:after {
  transform: translate(-50%, 0%);
  opacity: 1;
}

.gnb-list:nth-of-type(1) {
  background-color: #29363b;
  transition-delay: 0s;
}

.gnb-list:nth-of-type(2) {
  background-color: #ea495f;
  transition-delay: 0.1s;
}

.gnb-list:nth-of-type(3) {
  background-color: #f4837d;
  transition-delay: 0.25s;
}

.gnb-list:nth-of-type(4) {
  background-color: #fdcea9;
  transition-delay: 0.4s;
}

.gnb-list:nth-of-type(5) {
  background-color: #99b998;
  transition-delay: 0.55s;
}

.hamburger {
  position: absolute;
  right: 5rem;
  top: 3.2rem;
  z-index: 100;
  width: 34px;
  display: block;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 1px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 8px;
}

.animate-top-bar {
  -webkit-animation: animate-top-bar 0.6s linear 1 both;
  animation: animate-top-bar 0.6s linear 1 both;
}

.animate-bottom-bar {
  -webkit-animation: animate-bottom-bar 0.6s linear 1 both;
  animation: animate-bottom-bar 0.6s linear 1 both;
}

.animate-middle-bar {
  -webkit-animation: animate-middle-bar 0.6s linear 1 both;
  animation: animate-middle-bar 0.6s linear 1 both;
}

.animate-out-top-bar {
  -webkit-animation: animate-out-top-bar 0.6s linear 1 both;
  animation: animate-out-top-bar 0.6s linear 1 both;
}

.animate-out-bottom-bar {
  -webkit-animation: animate-out-bottom-bar 0.6s linear 1 both;
  animation: animate-out-bottom-bar 0.6s linear 1 both;
}

.animate-out-middle-bar {
  -webkit-animation: animate-out-middle-bar 0.6s linear 1 both;
  animation: animate-out-middle-bar 0.6s linear 1 both;
}

/* ====================================
Animation keyframes
==================================== */
@keyframes animate-top-bar {
  0% {
    background-color: #fff;
  }

  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }

  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #fff;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363b;
  }
}

@keyframes animate-bottom-bar {
  0% {
    background-color: #fff;
  }

  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }

  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #fff;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363b;
  }
}

@keyframes animate-middle-bar {
  0% {
    background-color: #fff;
  }

  80% {
    background-color: #fff;
  }

  100% {
    background-color: #29363b;
  }
}

@keyframes animate-out-top-bar {
  0% {
    background-color: #29363b;
  }

  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }

  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #29363b;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #fff;
  }
}

@keyframes animate-out-bottom-bar {
  0% {
    background-color: #29363b;
  }

  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }

  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #29363b;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #fff;
  }
}

@keyframes animate-out-middle-bar {
  0% {
    background-color: #29363b;
  }

  80% {
    background-color: #29363b;
  }

  100% {
    background-color: #fff;
  }
}

@media (max-width: 640px) {
  .navigation ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .navigation ul .gnb-list {
    height: 20%;
  }

  .navigation ul .gnb-list a {
    font-size: 11px;
  }

  .navigation ul .gnb-list a:before {
    width: 25px;
  }

  .navigation ul .gnb-list a:after {
    font-size: 0.6rem;
    bottom: -25px;
  }

  .navigation ul .gnb-list a:hover:after {
    transform: translateY(0);
  }

  .navigation ul .gnb-list:after {
    bottom: 30%;
  }

  .hamburger {
    right: 1rem;
  }
}

#intro-page {
  display: none;
}

#intro-page.show {
  display: block;
}

.intro {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(/images/forest.jpg) no-repeat;
  background-position: 100% -2px;
  background-size: cover;
}

canvas#canvas {
  display: block;
  filter: blur(1px);
}

.intro-content {
  position: relative;
}

.content-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.content-inner .intro-title {
  background: linear-gradient(270deg, #d86f5d 15%, #f5e6da 60%);
  -webkit-background-clip: text;
  color: transparent;
}

.content-inner .intro-title p {
  font-size: 20px;
}

.content-inner .intro-title h1 {
  font-size: 90px;
  font-weight: 900;
  letter-spacing: 10px;
}

.content-inner .intro-slogan {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  font-size: 10px;
  font-weight: 500;
  padding-bottom: 15px;
}

.content-inner .intro-slogan h2 {
  font-size: 16px;
}

.content-inner .intro-slogan .line {
  width: 100%;
  border-top: 1px solid #DA7766;
  padding-top: 5px;
}

.content-inner .intro-slogan .line p {
  margin-top: 5px;
}

@font-face {
  font-family: "Cafe24Decoshadow";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Decoshadow.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InkLipquid";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  width: 100vw;
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
  color: #2b2b2b;
}

main {
  width: 100%;
}

.gnb-item.show {
  display: block;
  opacity: 1;
}

.gnb-item {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.bg-forest {
  background: url(/images/forest.jpg) no-repeat;
  background-position: 100% -2px;
  background-size: cover;
}

.hover_effect {
  font-family: "InkLipquid";
  font-size: 1.8rem;
  padding: 0px 0px 8px 8px;
}

.click_effect {
  font-family: "InkLipquid";
  font-size: 2.2rem;
}

.animate__flash {
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.animate__bounceInUp {
  animation-duration: 0.1s;
}

/* basic style */