.aboutMe {
  // position: absolute;
  // top: 0;
  // left: 277px;
  width: 100%;
  height: 100%;
  background-color: #a3a744;
}

.aboutMe-content {
  padding-top: 60px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  // justify-content: flex-end;
  justify-content: center;
}

.meBox_wrapper {
  width: 990px;
  display: flex;
  gap: 50px;

  h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  h6 {
    font-size: 1.4rem;
    margin-top: 5px;
  }
}

.photo_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  img {
    width: 100%;
    max-width: 200px;
    min-width: 180px;
    border-radius: 100%;
  }

  button {
    width: 150px;
    padding: 10px 5px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 6px rgba(57, 57, 57, 0.344);
    background-color: #d86f5d;
    color: white;
    transition: all 0.4s ease-in-out;

    a {
      font-size: 1.5rem;
      display: block;
      width: 100%;
      height: 100%;
    }

    &:hover {
      background-color: white;
      color: rgb(86, 86, 86);
    }
  }

  .animate__pulse {
    animation: pulse 1.5s ease infinite;
  }
}

.resume {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .meBox_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    font-size: 1.6rem;

    h2 {
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 5px;
    }

    .profile {
      grid-column: 1/2;

      div {
        display: flex;
        flex-direction: column;
      }
    }

    .license {
      grid-column: 2/3;
      p {
        margin-top: 15px;
      }
    }

    .personality {
      grid-column: 3/4;
    }
  }

  .meBox_2 {
    grid-row: 2/3;
    grid-column: 1/4;
    // margin-top: 5px;
    margin-bottom: 10px;
  }

  .meBox_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .experience {
      grid-column: 1/2;
    }

    .performance {
      grid-column: 2/4;

      h2 {
        margin-bottom: 15px;
      }

      ul {
        display: flex;
        gap: 8px;

        li {
          display: flex;
          gap: 8px;

          img {
            width: 50px;
            height: 55px;
            object-fit: contain;
          }
        }

        .jq {
          img {
            width: 40px;
            height: 50px;
            object-fit: contain;
          }
        }
      }
    }
  }

  .meBox_2,
  .meBox_3 {
    p {
      font-size: 1.6rem;
      margin-top: 15px;
    }
  }
}

.go-top {
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  height: 45px;
  width: 45px;
  border: 1px solid rgba(0, 0, 0, 0.107);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 9999;
  right: 50px;
  bottom: -50px;
  cursor: pointer;
  opacity: 0;

  img {
    width: 20px;
    filter: invert(1);
  }
}

.go-top.showUp {
  opacity: 1;
  animation: bounceInUp 1s cubic-bezier(0.33, 1, 0.68, 1) 0.8s forwards;
}

@keyframes bounceInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(-110px);
    opacity: 1;
  }
  75% {
    transform: translateY(-95px);
  }
  90% {
    transform: translateY(-103px);
  }
  100% {
    transform: translateY(-100px);
  }
}
