.aboutMe {
  width: 100%;
  height: 100%;

  h1 {
    font-size: 3.5rem;
    font-weight: 600;
  }
}

.aboutMe-content {
  padding-top: 60px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;

  .resume {
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.3);
    background-color: rgba(245, 240, 230, 0.7);
    backdrop-filter: blur(3px);
    border-radius: 35px;
    display: flex;
    gap: 55px;
    padding: 45px 40px;
  }

  .emphasis {
    font-size: 14px;
    font-weight: 500;

    h2 {
      border-bottom: 1px solid #d86f5d;
      color: #d86f5d;
      text-shadow: 1px 1px 0 #fff;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 15px;
    }

    h6 {
      margin-bottom: 10px;
    }

    div:nth-child(2) p {
      margin-bottom: 10px;
    }

    .em-inner {
      display: flex;
      gap: 20px;

      .division {
        width: 130px;
      }
    }
  }

  .exp-lic {
    display: flex;
    justify-content: space-between;

    .emphasis {
      width: 325px;
    }
  }

  .license {
    .em-inner {
      .division {
        width: 60px;
      }
    }
  }

  .left-col {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .img-wrapper {
      overflow: hidden;
      border-radius: 50%;
      width: 255px;
      height: 255px;
      box-shadow: 8px 0px 15px rgba(0, 0, 0, 0.5);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.85);
        object-position: 0px 3px;
      }
    }

    .btn-CV {
      width: fit-content;
      height: 27px;

      a {
        display: inline-block;
        border-radius: 3.125rem;
        padding: 6.5px 18.5px;
        text-transform: uppercase;
        background: #fff;
        font-weight: 500;
        box-shadow: 3px 3px 5px rgba(57, 57, 57, 0.344);
        border: 2px solid #d86f5d;
        color: #d86f5d;
        transition: 0.2s linear;

        &:hover {
          border: 1px solid #d86f5d;
          font-weight: bold;
        }
      }
    }

    .animate__pulse {
      animation: pulse 1.5s ease infinite;
    }

    .profile {
      width: 100%;
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 28px;
        border: none;
      }

      .em-inner {
        .division {
          width: 55px;
        }
      }
    }
  }

  .right-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .performance {
      ul {
        display: flex;
        gap: 10px;

        li {
          display: flex;
          gap: 10px;

          img {
            width: 40px;
            height: 50px;
            object-fit: contain;
          }
        }

        .jq {
          img {
            width: 35px;
            height: 45px;
            object-fit: contain;
          }
        }
      }
    }

    .personality-inner {
      display: flex;
      column-gap: 15px;

      span {
        font-weight: bold;
        font-size: 18px;
      }

    }
  }
}