.coding {
  // font-family: "Wanted Sans Variable";
  width: 100vw;
  height: 100vh;

  .myProjectSwiper {
    width: 100%;
    height: 100%;

    .swiper-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 50px;
    }

    .mo-content {
      display: flex;
      justify-content: center;
      gap: 20px;

      .screen-wrapper {
        position: relative;
        display: flex;
        align-items: flex-end;

        .res-phone {
          width: 160px;
          height: 320px;
          border-radius: 2rem;
          box-shadow: 9px 2px 10px 0px rgba(0, 0, 0, 0.8);
          outline: 3px ridge #444444;
          overflow: hidden;
          position: absolute;
          z-index: 2;
          right: 0;
          bottom: 0;
          cursor: pointer;

          &:hover {
            background-position: 100% 100%;
          }
        }

        .spc-phone {
          background: url(/images/mobile_SPC.jpg) no-repeat;
          background-size: cover;
          transition: background-position 3s linear;
        }

        .cream-phone {
          display: flex;
          flex-direction: column;

          .hd-img {
            img {
              width: 100%;
              height: 100%;
            }
          }

          .slide-img {
            width: 100%;
            height: 100%;
            background: url(/images/phone-cream-slide.JPG) no-repeat;
            background-size: cover;
            transition: background-position 2s linear;
            &:hover {
              background-position: 100% 100%;
            }
          }
        }

        .no-phone {
          display: none;
        }
      }
    }

    .preview {
      width: 620px;
      z-index: 1;
      padding-bottom: 20px;

      .cloneImg_1 {
        background: url(/images/full-screen_SPC.JPG) no-repeat;
        background-size: cover;
        transition: background-position 2s linear;
      }

      .cloneImg_cream {
        background: url(/images/full-screen_cream.jpg) no-repeat;
        background-size: cover;
        transition: background-position 2s linear;
      }
    }

    .preview-2 {
      .cloneImg_2 {
        background: url(/images/full-screen_ckdhc.JPG) no-repeat;
        background-size: cover;
        transition: background-position 2s linear;
      }

      .cloneImg_3 {
        background: url(/images/full-screen_ulsan-fire.JPG) no-repeat;
        background-size: cover;
        transition: background-position 0.8s linear;
      }

      .cloneImg_4 {
        background: url(/images/full-screen_suseong.JPG) no-repeat;
        background-size: cover;
        transition: background-position 1.5s linear;
      }
    }

    .cloneImg {
      width: 468px;
      height: 275px;
      border-radius: 1.6rem;
      box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
      filter: grayscale(1) brightness(0.8);
      cursor: pointer;

      &:hover {
        background-position: 100% 100%;
        filter: none;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      justify-content: flex-end;

      h3 {
        font-size: 2.8rem;
        font-weight: 500;
      }

      .feature {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
          color: #ff98a8;
        }
      }

      table {
        font-size: 1.5rem;

        th,
        td {
          border: 1px solid black;
          vertical-align: middle;
        }

        th {
          padding: 10px;
        }

        td {
          padding: 10px 30px 10px 10px;
        }

        .skills-items {
          display: flex;
          justify-content: flex-start;
          gap: 30px;
        }

        ul {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          gap: 8px;
        }
      }

      .link_btn {
        display: flex;
        gap: 2px;
        align-items: center;

        button {
          width: 100px;
          height: 35px;
          // border-radius: 8px;
          border: none;
          box-shadow: 5px 5px 6px rgba(57, 57, 57, 0.344);
          background-color: rgb(210, 210, 210);
          transition: all 0.4s ease-in-out;
          // color: rgb(49, 48, 48);
          color: white;
          text-transform: uppercase;
          padding: 18px 70px;

          a {
            display: block;
            width: 100%;
            height: 100%;
            // line-height: 35px;
          }

          &:hover {
            background-color: white;
          }
        }

        .http-link {
          animation: rubberBand 1s linear infinite;
          display: flex;
          gap: 10px;
          align-items: center;

          a {
            width: 40px;
            height: 40px;
            display: block;

            img {
              width: 100%;
              height: 100%;
              border-radius: 5px;
            }
          }
        }

        .btn1 {
          // background-color: #ff98a8;
          margin-right: 7px;

          // border: none;
          // box-shadow: 5px 5px 6px rgba(57, 57, 57, 0.344);
          // background-color: rgb(210, 210, 210);
          // transition: all 0.4s ease-in-out;
          // color: rgb(49, 48, 48);
          // =======================
          // display: inline-block;
          color: white;
          background: transparent;
          // letter-spacing: 0.3em;
          // border-radius: 0;
          transition: all 0.7s ease-out;
          // background: linear-gradient(
          //   270deg,
          //   rgba(34, 34, 34, 0),
          //   #ff98a8,
          //   #fecfef,
          //   #fecfef
          // );
          background-position: 1% 50%;
          background-size: 300% 300%;
          border: 1px solid rgba(255, 255, 255, 0.4);

          &:hover {
            color: #fff;
            border: 1px solid rgba(223, 190, 106, 0);
            background-position: 99% 50%;

            background: linear-gradient(
              270deg,
              rgba(34, 34, 34, 0),
              #ff98a8,
              #fecfef,
              #fecfef
            );
          }
        }
      }
    }

    .slide-btn-next,
    .slide-btn-prev {
      width: 34px;
      height: 77px;
      background-color: white;
      // height: 45px;
      // position: absolute;
      // top: 230px;
      // right: 15px;
    }

    .slide-btn-prev {
      border-width: 38.5px 0 38.5px 34px;
      border-color: transparent transparent transparent #fff;
      // position: absolute;
      top: 50%;
      // left: 10px;
      border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
      // transition: all 0.3sease;
      // background: url(/images/arrow-left.svg) no-repeat;
    }

    .slide-btn-next {
      // background: url(/images/arrow-right.svg) no-repeat;
    }

    .slide-btn-next:after,
    .slide-btn-prev:after {
      // display: none;
    }
  }

  .slide-pagination {
    // font-size: 1.4rem;
    // position: absolute;
    // bottom: 0px;
  }
}

.clone_5 {
  padding: 20px 0;

  .section_inner-2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .mySwiper {
    width: 800px;
    height: 465px;
    height: 500px;
    position: relative;

    .swiper-wrapper {
      .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        justify-content: flex-start;

        h2 {
          font-size: 1.6rem;
          margin-top: 15px;
        }
        .project-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 18px;

          button {
            width: 115px;
            height: 25px;
          }
        }
      }

      .img-wrap {
        width: 600px;
        height: 360px;
        border-radius: 2.6rem;
        overflow: hidden;
        box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);

        img {
          width: 100%;
          height: 100%;
        }
      }

      .sqa img {
        transform: scale(1, 1.15);
        object-fit: cover;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      filter: invert(80%);
      width: 45px;
      height: 45px;
      position: absolute;
      top: 230px;
    }

    .swiper-button-prev {
      background: url(/images/arrow-left.svg) no-repeat;
    }

    .swiper-button-next {
      background: url(/images/arrow-right.svg) no-repeat;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
      display: none;
    }
  }

  .swiper-pagination {
    font-size: 1.4rem;
    position: absolute;
    bottom: 0px;
  }
}
