@font-face {
  font-family: 'Unggungqui';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_11@1.0/Unggungqui.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.click_effect {
  font-family: "InkLipquid";
  font-size: 2.2rem;
}

.design {
  .design-content {
    padding-top: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;

    .tab-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      h1 {
        font-size: 3.5rem;
        font-weight: 600;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }
}

.thumb-effect {
  overflow: hidden;
  cursor: pointer;
  width: 220px;
  height: 220px;
  transition: all 0.5s ease;

  &:hover .thumb-info {
    opacity: 1;
    visibility: visible;
    transform: translateY(25%);
  }

  &:hover .thumb-info img {
    transition-delay: 0.1s;
    scale: 6;

  }
}

.thumb-info {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding-top: 50px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: transform 0.4s ease;

  img {
    transition: scale 0.5s ease;
    width: 10px;
    height: 10px;
    filter: invert(100);
  }
}

.info-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .side-tab {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      width: calc(100% / 3);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 20px;
      gap: 10px;
      cursor: pointer;
      font-size: 14px;
      color: #333;

      img {
        width: 17px;
      }

    }

    li.active {
      background-color: rgba(245, 240, 230, 0.9);
    }
  }
}

// ***************** 썸네일 ***************** //

.thumbNail-wrapper {
  position: relative;
  width: 100%;
  height: 420px;

  .tab-content {
    padding-top: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 40px;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: 0;
  }

  .tab-content.show {
    visibility: 1;
    opacity: 1;
    z-index: 10;
    animation: stretch 1s ease;
  }
}

@keyframes stretch {
  0% {
    transform: translate3d(-180px, 0, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.thumbNail {
  height: 320px;
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  font-family: 'Unggungqui';
  color: #333;

  h1 {
    text-align: center;
    font-size: 35px;
    margin-top: 15px;
  }

  p {
    text-align: center;
    font-size: 20px;
  }

  .thumb-1 {
    background: url(/images/design/thumbnail-1.jpeg) no-repeat center / cover;
  }

  .thumb-2 {
    background: url(/images/design/thumbnail-2.jpg) no-repeat center / cover;
  }

  .thumb-3 {
    background: url(/images/design/thumbnail-31.png) no-repeat center / cover;
  }

  .thumb-4 {
    background: url(/images/design/nonsan.jpg) no-repeat top / cover;
  }

  .thumb-5 {
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .projectImg1 {
      width: 120px;
      height: 120px;
    }
  }

  .thumb-6 {
    background: url(/images/design/heywha_banner1.jpg) no-repeat 12% / cover;
  }

  .thumb-7 {
    background: url(/images/design/heywha_banner2.jpg) no-repeat center / cover;
  }

  .thumb-8 {
    background: url(/images/design/cardDesign.jpg) no-repeat center / cover;
  }

  .thumb-9 {
    position: relative;
    background: url(/images/design/cake-bg.jpg) no-repeat center / cover;
    padding: 15px;

    .projectImg2 {
      width: 200px;
      height: 200px;
    }
  }
}

// ************************************* //
.swiper-slide {
  display: flex;
  justify-content: center;
}

.close-btn {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 999999999;

  img {
    filter: invert(1);
    cursor: pointer;
  }
}

.slide-next,
.slide-prev {
  border-style: solid;
  position: absolute;
  top: 50%;
  z-index: 99999;
}

.slide-next {
  border-width: 33px 0 33px 33px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.4);
}

.slide-prev {
  border-width: 33px 33px 33px 0;
  border-color: transparent rgba(255, 255, 255, 0.4) transparent transparent;
}

.des1-Slide-next {
  right: 25%;
}

.des1-Slide-prev {
  left: 25%;
}

.des2-Slide-next,
.des3-Slide-next {
  right: 20%;
}

.des2-Slide-prev,
.des3-Slide-prev {
  left: 20%;
}

// ****************** 팝업 ***************** //
.thumb-popUp {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);

  .yes-scroll {
    overflow-y: scroll;
    height: 100vh;
    position: relative;

    .detail_img {
      width: 450px;
    }

    .popUp-nonsan {
      width: 640px;
    }
  }

  .postec-scroll {
    height: 100vh;
    overflow-y: scroll;

    img {
      width: 640px;
    }
  }

  .mobile-phone {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .iPhone {
      width: 300px;
      height: 620px;
      border-radius: 50px;
      box-shadow: 9px 2px 10px 0px rgba(0, 0, 0, 0.8);
      box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
      outline: 3px ridge #444444;
      overflow: hidden;
      cursor: pointer;
      position: relative;
    }

    .header-fixed {
      width: 300px;
      height: 94px;
      position: absolute;
    }

    .mob-content {
      overflow-y: scroll;
      width: 300px;
      height: 620px;

      img {
        width: 100%;
      }
    }
  }

  .no-scroll {
    height: 100vh;
    display: flex;
    align-items: center;

    .inner-bg {
      background-color: rgba(255, 255, 255, 0.8);
      width: fit-content;
      box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
      height: 500px;

      .popUp-logo {
        width: 500px;
        padding: 20px;
      }

      .popUp-card {
        width: 500px;
      }
    }

    .ns-inner {
      height: 324px;
      width: fit-content;
      box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);

      .popUp-ban {
        width: 750px;
        height: 324px;
      }
    }
  }
}

.thumb-popUp.show {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}