.design {
  padding-top: 10px;
}

.design-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;

  .detail_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .phone_wrapper {
      display: flex;
      gap: 100px;

      .design_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        h3 {
          font-size: 2rem;
        }

        .phone {
          overflow: hidden;
          box-shadow: 9px 2px 10px 0px rgba(0, 0, 0, 0.8);
          outline: 3px ridge #444444;
          width: 160px;
          height: 320px;
          border-radius: 2rem;
          cursor: pointer;

          &:hover {
            background-position: 100% 100%;
          }
        }

        .detailPage_1 {
          background: url(/images/design/detailPage_1.jpg) no-repeat;
          background-size: cover;
          transition: background-position 3.5s linear;
        }

        .detailPage_2 {
          background: url(/images/design/detailPage_2.jpg) no-repeat;
          background-size: cover;
          transition: background-position 4s linear;
        }

        .detailPage_3 {
          background: url(/images/design/detailPage_3.jpg) no-repeat;
          background-size: cover;
          transition: background-position 2s linear;
        }
      }
    }
  }
}

.design-pop-up {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;

  .img_wrapper {
    overflow-y: scroll;
    width: 400px;
    height: 100vh;

    .detail_img {
      width: 100%;
    }
  }
}

.design-pop-up.show {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
