.click_effect {
  font-family: "InkLipquid";
  font-size: 2.2rem;
}

.design {
  // display: flex;
  // justify-content: center;

  .design-content {
    padding-top: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;

    .tab-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      h1 {
        font-size: 3.5rem;
        font-weight: 600;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }
}

.thumb-effect {
  overflow: hidden;
  cursor: pointer;
  width: 220px;
  height: 220px;
  // border: 2.5px solid #fff;
  // border-radius: 10px;
  transition: all 0.5s ease;



  &:hover .thumb-info {
    opacity: 1;
    visibility: visible;
    transform: translateY(25%);
  }

  &:hover .thumb-info img {
    transition-delay: 0.1s;
    scale: 6;

  }


}


.thumb-info {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding-top: 50px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: transform 0.4s ease;

  img {
    transition: scale 0.5s ease;
    width: 10px;
    height: 10px;
    filter: invert(100);
  }
}

.info-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

.content-wrapper {
  width: 100%;
  // background-color: rgba(255, 255, 255, 0.5);
  // background-color: rgb(253, 240, 249);
  // justify-content: center;
  // width: fit-content;
  // padding: 10px 0;
  // height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  // gap: 10px;

  .side-tab {
    // background-color: rgb(253, 240, 249);
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 17px;
    }

    li {
      width: calc(100% / 3);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 20px;
      gap: 10px;
      cursor: pointer;
      font-size: 15px;
      color: #222;
    }

    li:nth-child(1) {
      // background-color: #2e943f;
    }

    li:nth-child(2) {
      // background-color: #accbee;
    }

    li:nth-child(3) {
      // background-color: #2c6db6;
    }

    li.active {
      background-color: rgba(245, 240, 230, 0.9);
    }
  }
}

// ***************** 썸네일 ***************** //

.thumbNail-wrapper {
  position: relative;
  width: 100%;
  height: 400px;
  // background-color: purple;

  .tab-content {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 40px;
    // padding-top: 30px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    // background-color: aqua;

    // height: fit-content;
    // padding: 5px 10px;
    // gap: 10px;
    opacity: 0;
    visibility: 0;
    // transition: all 0.5s ease;
  }

  @font-face {
    font-family: 'Unggungqui';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_11@1.0/Unggungqui.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  .thumbNail {
    height: 320px;
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    font-family: 'Unggungqui';
    color: #333;

    h1 {
      text-align: center;
      font-size: 35px;
      margin-top: 15px;

    }

    p {
      text-align: center;
      font-size: 20px;
    }


  }

  .tab-content.show {
    visibility: 1;
    opacity: 1;
    z-index: 10;

    animation: stretch 1s ease;

  }

  @keyframes stretch {
    0% {
      transform: translate3d(-180px, 0, 0);
      opacity: 0;
    }

    100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }



  .thumb-1 {
    background: url(/images/design/thumbnail-1.jpeg) no-repeat;
    background-size: cover;
  }

  .thumb-2 {
    background: url(/images/design/thumbnail-2.jpg) no-repeat center;
    background-size: cover;
  }

  .thumb-3 {

    background: url(/images/design/thumbnail-31.png) no-repeat;
    background-size: cover;
  }

  .thumb-4 {
    background: url(/images/design/nonsan.jpg) no-repeat;
    background-size: cover;
  }

  .thumb-5 {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .projectImg1 {
      width: 120px;
      height: 120px;
    }
  }

  .thumb-6 {
    background: red url(/images/design/heywha_banner1.jpg) no-repeat;
    background-position: 12%;
    transition: all 0.5s ease;
    background-size: cover;


  }

  .thumb-7 {
    background: url(/images/design/heywha_banner2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;


  }

  .thumb-8 {
    background: url(/images/design/cardDesign.jpg) no-repeat;
    background-size: cover;
  }

  .thumb-9 {
    position: relative;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    background: url(/images/design/cake-bg.jpg) no-repeat;
    padding: 15px;
    background-size: cover;

    .projectImg2 {
      width: 200px;
      height: 200px;
    }
  }
}

// ****************** 팝업 ***************** //
.thumb-popUp {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;

  .yes-scroll {
    overflow-y: scroll;
    height: 100vh;

    .detail_img {
      width: 450px;
    }

    .popUp-nonsan {
      width: 600px;
    }
  }

  .no-scroll {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .inner-bg {
    background-color: rgba(255, 255, 255, 0.8);
    width: fit-content;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
    height: 500px;

    .popUp-logo {
      width: 500px;
      padding: 20px;
    }

    .popUp-card {
      width: 500px;
    }
  }

  .ns-inner {
    height: 324px;
    width: fit-content;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);

    .popUp-ban {
      width: 750px;
      height: 324px;
    }

  }


  // .postec-wrapper {
  //   // overflow-y: scroll;
  //   width: 400px;
  //   height: 100vh;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   gap: 20px;

  //
  // }
}

.thumb-popUp.show {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

// ************************************************ 
// **************** 회전 애니메이션 **************** //
// .content-wrapper.rotate {
//   animation: rotateFade 0.8s ease;
// }

// @keyframes rotateFade {
//   0% {
//     transform: rotateY(90deg);
//     opacity: 0;
//   }

//   100% {
//     transform: rotateY(0);
//     opacity: 1;
//   }
// }