@font-face {
  font-family: 'DaeguCatholicUniversity';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/DaeguCatholicUniversity.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.click_effect {
  font-family: "InkLipquid";
  font-size: 2.2rem;
}

.design {
  .design-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;

    .tab-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      h1 {
        font-size: 3.5rem;
        font-weight: 600;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }
}

.tab-wrapper {
  // margin-right: 50px;
  width: 1000px;
  height: 500px;
  // border-radius: 35px;
  border-radius: 0px 35px;
  // box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 15px -10px 25px rgba(0, 0, 0, 0.2);
  display: flex;

  // backdrop-filter: blur(3px);
  // display: flex;
  // gap: 55px;
  // padding: 45px 40px;

  .side-tab {
    li {
      width: 40px;
      height: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      background-color: rgba(245, 240, 230, 0.6);

      p {
        font-size: 14px;
        color: #222;
        writing-mode: sideways-lr;
      }
    }

    li.active {
      background-color: rgba(245, 240, 230, 0.9);
    }
  }


}

.content-wrapper {
  position: relative;

  .accordion {
    gap: 15px;

    .thumb-1 {
      width: 250px;
      height: 250px;
      background: url(/images/design/thumbnail-1.jpeg) no-repeat center;
      background-size: cover;
    }

    .thumb-2 {
      width: 250px;
      height: 250px;
      background: url(/images/design/thumbnail-2.jpg) no-repeat center;
      background-size: cover;
    }

    .thumb-3 {
      width: 250px;
      height: 250px;
      background: url(/images/design/thumbnail-31.png) no-repeat;
      background-size: cover;
    }
  }

  .nonPos {
    gap: 15px;

    .thumb-8 {
      width: 250px;
      height: 250px;
      background: url(/images/design/nonsan.jpg) no-repeat;
      background-size: cover;
    }

    .thumb-9 {
      height: 250px;
      width: 250px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      img {
        width: 200px;
        height: 200px;
      }
    }
  }

  .concept {
    gap: 15px;

    .thumb-5 {
      width: 250px;
      height: 250px;
      background: url(/images/design/heywha_banner1.jpg) no-repeat;
      background-size: cover;
      background-position: 12%;
    }

    .thumb-4 {
      width: 250px;
      height: 250px;
      background: red url(/images/design/heywha_banner2.jpg) no-repeat;
      background-size: cover;
      background-position: center;
    }

    // .thumb-6 {
    //   width: 250px;
    //   height: 250px;
    //   background: url(/images/design/cardDesign.jpg) no-repeat;
    //   background-size: cover;
    // }

    .thumb-7 {
      background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
      width: 250px;
      height: 250px;
      padding: 15px 10px;
      position: relative;

      img {
        width: 230px;
        height: 230px;
      }
    }
  }
}

.tab-content {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0px 35px;
  background-color: rgba(245, 240, 230, 0.9);
  width: 960px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;

  .thumb-effect {
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 3px solid #fff;
    border-radius: 25px;

    .info-img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
    }

    .thumb-info {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      padding-top: 30px;
      opacity: 0;
      visibility: hidden;
      transform: translateY(100%);
      transition: all 0.4s ease;

      p {
        font-family: 'DaeguCatholicUniversity';
        font-size: 25px;
        color: #fff;
        text-shadow: 1px 2px 3px #222;
      }


    }

    &:hover .thumb-info {
      opacity: 1;
      visibility: visible;
      transform: translateY(25%);
    }
  }

}

.tab-content.show {
  opacity: 1;
  z-index: 10;
}

// ****************** 팝업 ***************** //
.thumb-popUp {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;

  .img_wrapper {
    overflow-y: scroll;
    width: 400px;
    height: 100vh;
  }

  .postec-wrapper {
    // overflow-y: scroll;
    width: 400px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .detail_img {
      width: 100%;
    }
  }
}

.thumb-popUp.show {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}