#intro-page {
  display: none;
}

#intro-page.show {
  display: block;
}

.intro {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../images/forest.jpg) no-repeat;
  background-position: 100% -2px;
  background-size: cover;
}


canvas#canvas {
  display: block;
  filter: blur(1px);
}

.intro-content {
  position: relative;
}

.content-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;

  .intro-title {
    // color: #fff;
    background: linear-gradient(to left, #d86f5d 15%, #f5e6da 85%);
    -webkit-background-clip: text;
    color: transparent;

    p {
      font-size: 20px;
      // color: white;
    }

    h1 {
      font-size: 90px;
      font-weight: 900;
      letter-spacing: 10px;
    }
  }

  .intro-slogan {
    color: #f5e6da;
    // color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    font-size: 10px;
    font-weight: 500;
    padding-bottom: 15px;

    h2 {
      font-size: 16px;
    }

    .line {
      width: 100%;
      border-top: 1px solid #d86f5d;
      padding-top: 5px;

      p {
        margin-top: 5px;
      }
    }
  }
}