@media screen and (max-width: 375px) {
    .content-inner {
        padding: 0 20px;
        gap: 5px;
        flex-direction: column;

        .intro-title {
            background: linear-gradient(270deg, #d86f5d 15%, #f5e6da 80%);
            -webkit-background-clip: text;


            p {
                font-size: 15px;
            }

            h1 {
                font-size: 45px;
                letter-spacing: 5px;
            }
        }

        .intro-slogan {
            h2 {
                font-size: 14px;
            }

            .line {
                p {
                    font-size: 10px;
                }
            }
        }
    }
}