    @media (max-width: 1279px) {
        .logo-hidden {
            opacity: 0;
            // transform: translateY(-20px);
            transition: opacity 0.4s ease, transform 0.4s ease;
            pointer-events: none;
        }

        .logo-visible {
            opacity: 1;
            // transform: translateY(0);
            transition: opacity 0.4s ease, transform 0.4s ease;
            pointer-events: auto;
        }

        .navigation {
            ul {
                flex-direction: column;

                .gnb-list {
                    height: 20%;

                    a {
                        font-size: 11px;
                    }

                    a:before {
                        width: 25px;
                    }

                    a:after {
                        font-size: 0.6rem;
                        bottom: -25px;
                    }

                    a:hover:after {
                        transform: translateY(0);
                    }
                }

                .gnb-list:after {
                    bottom: 30%;
                }
            }
        }
    }

    @media (max-width: 640px) {
        body {
            background: url(/images/mbg-1.jpg);
            // background: url(/images/mbg-2.jpg);
            background-size: cover;
            height: 100vh;

            .gnb-item:nth-of-type(n+2):nth-of-type(-n+4) {
                background: none;
            }
        }

        .content-inner {
            padding: 0 20px;
            gap: 5px;
            flex-direction: column;

            .intro-title {
                background: linear-gradient(270deg, #d86f5d 50%, #f5e6da 80%);
                -webkit-background-clip: text;
                color: transparent;

                p {
                    font-size: 15px;
                }

                h1 {
                    font-size: 45px;
                    letter-spacing: 5px;
                }
            }

            .intro-slogan {
                h2 {
                    font-size: 14px;
                }

                .line {
                    width: 100%;
                    padding-top: 5px;

                    p {
                        font-size: 10px;
                        display: inline-block;
                    }
                }
            }
        }

        header {
            padding: 0px 20px 5px 20px;

            .header-inner {
                .logo {
                    font-size: 12px;
                }

                .hamburger {
                    position: static;

                    span {
                        margin-top: 8px;
                    }

                    span:not(:last-child) {
                        margin-bottom: 8px;
                    }
                }
            }
        }

        .aboutMe {
            h1 {
                font-size: 2.5rem;
            }

            .aboutMe-content {
                padding-top: 90px;
                justify-content: flex-start;
                gap: 40px;

                .resume {
                    gap: 30px;
                    padding: 45px 15px 20px;
                    flex-direction: column;
                    align-items: center;
                }

                .emphasis {
                    font-size: 12px;

                    h2 {
                        text-align: center;
                    }

                    .em-inner {
                        justify-content: center;
                    }
                }

                .education {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h2 {
                        width: 290px;
                    }

                    .em-inner {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;

                        h6 {
                            margin-bottom: 5px;
                        }

                        p br {
                            display: block;
                        }
                    }

                }

                .exp-lic {
                    flex-direction: column;
                    gap: 30px;

                    .emphasis {
                        width: 290px;
                    }
                }

                .left-col {


                    .profile {
                        h2 {
                            font-size: 24px;
                        }

                        .em-inner {
                            column-gap: 0px;
                        }
                    }
                }

                .right-col {
                    gap: 30px;
                    align-items: center;

                    .performance {
                        width: 290px;

                        ul {

                            justify-content: center;

                            li {
                                gap: 5px;

                                img {
                                    width: 35px;
                                    height: 45px;
                                }
                            }

                            .jq {
                                img {
                                    width: 30px;
                                    height: 40px;
                                }
                            }
                        }
                    }


                    .personality {
                        width: 290px;

                        .personality-inner {
                            flex-direction: column;
                            align-items: center;
                        }
                    }
                }
            }
        }

        .design {
            .design-content {
                gap: 50px;
                padding-top: 90px;
                justify-content: flex-start;

                .tab-title {
                    gap: 5px;

                    h1 {
                        font-size: 2.5rem;
                    }

                    p {
                        font-size: 1.2rem;
                    }
                }
            }


            .content-wrapper {
                .side-tab {
                    height: fit-content;
                    flex-direction: column;

                    li {
                        width: 100%;
                        padding: 10px;
                        gap: 5px;
                    }
                }
            }

            .thumbNail-wrapper {
                .tab-content {
                    height: fit-content;
                    padding-bottom: 40px;
                    flex-direction: column;
                    align-items: center;
                    gap: 30px;
                }
            }

            .swiper-slide {
                padding-top: 60px;
            }

            .pop-title {
                position: static;
                margin-bottom: 15px;
                font-weight: 900;
            }

            .close-btn {
                width: 35px;
                height: 35px;
                right: 50%;
                transform: translate(50%);
            }

            .slide-next,
            .slide-prev {
                top: 55px;
                width: 35px;
                height: 35px;
                filter: invert(1);
                border: none;
            }

            .slide-next {
                background: url(/images/circle-arrow-right.svg) no-repeat;
            }

            .slide-prev {
                background: url(/images/circle-arrow-left.svg) no-repeat;
            }

            .slide-next {
                right: 5%;
            }

            .slide-prev {
                left: 5%;
            }

            // ****************** 팝업 ***************** //
            .thumb-popUp {
                .yes-scroll {
                    overflow-y: scroll;
                    height: 100vh;
                    position: relative;

                    .detail_img {
                        width: 375px;
                    }

                    .popUp-nonsan {
                        width: 375px;

                    }
                }

                .postec-scroll {
                    height: 100vh;
                    overflow-y: scroll;

                    img {
                        width: 375px;
                    }
                }

                .mobile-phone {
                    align-items: flex-start;
                }

                .no-scroll {
                    align-items: flex-start;

                    .inner-bg {
                        height: 320px;

                        .popUp-logo {
                            width: 320px;
                            padding: 10px;
                        }

                        .popUp-card {
                            width: 320px;
                        }
                    }

                    .ns-inner {
                        height: 151px;

                        .popUp-ban {
                            width: 350px;
                            height: 151px;

                        }
                    }
                }
            }
        }

        .hover_effect {
            display: none;
        }

        .coding {

            .cc-title,
            .rds-title {
                gap: 5px;

                h1 {
                    font-size: 2.5rem;
                }

                p {
                    text-align: center;
                    font-size: 1.2rem;
                }

                p br {
                    display: block;
                }
            }

            .myProjectSwiper {
                width: 100%;
                height: 100vh;


                .swiper-slide {
                    gap: 0px;
                    padding: 0px 5%;
                    padding-top: 90px;
                    justify-content: flex-start;
                }

                .last-slide {
                    gap: 30px;
                }

                .mo-content {
                    gap: 0px;
                    flex-direction: column;
                    align-items: center;

                    .screen-wrapper {
                        width: 210px;
                        height: 210px; // right: 0;
                        // position: relative;
                        // display: flex;
                        // display: none;
                        // flex-direction: column;
                        // align-items: center;
                        // justify-content: center;

                        .res-phone {
                            display: none;
                        }

                        .cream-phone {
                            display: none;
                        }

                    }
                }

                .preview {
                    width: 100%;
                    padding-bottom: 0px;
                }

                .cloneImg {
                    position: absolute;
                    top: 15px;
                    width: 210px;
                    height: 210px;
                    border-radius: 50%;
                    // border-radius: 1.6rem;
                    border: 2px solid rgb(255, 255, 255);
                    filter: none;
                }

                .info {
                    min-width: 0px;
                    width: 330px;
                    border-radius: 1.6rem;
                    padding: 25px 10px 10px;

                    .feature-wrapper {
                        .feature {
                            font-size: 1.2rem;
                            align-items: center;

                            h3 {
                                font-size: 2.8rem;
                            }
                        }

                    }

                    table {
                        font-size: 1.2rem;

                        th {
                            font-size: 1.2rem;
                            text-align: center;
                            padding: 5px;
                        }

                        td {
                            padding: 10px;
                        }

                        .skills-items {
                            gap: 15px;
                        }
                    }

                    .link-list {
                        justify-content: center;
                    }
                }

                .box-content {
                    width: 100%;
                    gap: 20px;
                    flex-direction: column;

                    .rds-box {
                        width: 300px;
                        height: 150px;
                        border-radius: 20px;
                    }
                }

                .slide-btn-next,
                .slide-btn-prev {
                    position: absolute;
                    top: 50%;
                    z-index: 10;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    outline: none;
                    display: none;

                    &.hover {
                        transform: scale(1.1);
                    }
                }

                .slide-btn-prev {
                    left: 3%;
                    border-style: solid;
                    border-width: 36px 33px 36px 0;
                    border-color: transparent rgba(255, 255, 255, 0.4) transparent transparent;

                    &:hover,
                    &.hover {
                        border-color: transparent white transparent transparent;
                    }
                }

                .slide-btn-next {
                    border-style: solid;
                    border-width: 36px 0 36px 33px;
                    border-color: transparent transparent transparent rgba(255, 255, 255, 0.4);
                    right: 3%;

                    &:hover,
                    &.hover {
                        border-color: transparent transparent transparent white;
                    }
                }
            }
        }
    }