    @media (max-width: 640px) {
        .content-inner {
            padding: 0 20px;
            gap: 5px;
            flex-direction: column;

            .intro-title {
                background: linear-gradient(270deg, #d86f5d 25%, #f5e6da 80%);
                -webkit-background-clip: text;


                p {
                    font-size: 15px;
                }

                h1 {
                    font-size: 45px;
                    letter-spacing: 5px;
                }
            }

            .intro-slogan {
                h2 {
                    font-size: 14px;
                }

                .line {
                    width: 100%;
                    padding-top: 5px;

                    p {
                        font-size: 10px;
                        display: inline-block;
                    }
                }
            }
        }

        header {
            padding: 0px 20px 5px 20px;

            .header-inner {
                .logo {
                    font-size: 12px;
                }

                .hamburger {
                    position: static;

                    span {
                        margin-top: 8px;
                    }

                    span:not(:last-child) {
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }

    @media (max-width: 1279px) {
        .logo-hidden {
            opacity: 0;
            // transform: translateY(-20px);
            transition: opacity 0.4s ease, transform 0.4s ease;
            pointer-events: none;
        }

        .logo-visible {
            opacity: 1;
            // transform: translateY(0);
            transition: opacity 0.4s ease, transform 0.4s ease;
            pointer-events: auto;
        }

        .navigation {
            ul {
                flex-direction: column;

                .gnb-list {
                    height: 20%;

                    a {
                        font-size: 11px;
                    }

                    a:before {
                        width: 25px;
                    }

                    a:after {
                        font-size: 0.6rem;
                        bottom: -25px;
                    }

                    a:hover:after {
                        transform: translateY(0);
                    }
                }




                .gnb-list:after {
                    bottom: 30%;
                }
            }
        }
    }